<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let field of fields">
    <ng-container [ngSwitch]="field.type">
      <h2 *ngSwitchCase="'object'">{{ field.key }}</h2>
      <div *ngSwitchCase="'array'">
        <nz-card *ngFor="let item of field.value">
          <ng-container *ngFor="let subField of fields">
            <ng-container [ngSwitch]="subField.type">
              <h3 *ngSwitchCase="'object'">{{ subField.key }}</h3>
              <div *ngSwitchCase="'array-object'">
                <nz-card *ngFor="let subItem of subField.value">
                  <!-- Render nested object fields inside the card -->
                </nz-card>
              </div>
              <nz-select *ngSwitchCase="'array'" formControlName="{{ subField.key }}">
                <nz-option *ngFor="let option of subField.value" [nzValue]="option" [nzLabel]="option"></nz-option>
              </nz-select>
              <input *ngSwitchCase="'string'" nz-input formControlName="{{ subField.key }}" />
              <input *ngSwitchCase="'number'" nz-input-number formControlName="{{ subField.key }}" />
              <nz-switch *ngSwitchCase="'boolean'" formControlName="{{ subField.key }}"></nz-switch>
            </ng-container>
          </ng-container>
        </nz-card>
      </div>
      <nz-select *ngSwitchCase="'array'" formControlName="{{ field.key }}">
        <nz-option *ngFor="let option of field.value" [nzValue]="option" [nzLabel]="option"></nz-option>
      </nz-select>
      <input *ngSwitchCase="'string'" nz-input formControlName="{{ field.key }}" />
      <input *ngSwitchCase="'number'" nz-input-number formControlName="{{ field.key }}" />
      <nz-switch *ngSwitchCase="'boolean'" formControlName="{{ field.key }}"></nz-switch>
    </ng-container>
  </ng-container>
  <button nz-button nzType="primary" type="submit">Submit</button>
</form>